/*
1.pocicionamiento
2.modelo de caja
3.tipografia
4.visuales
5.misalaneos o otros.
*/

:root {
    /*colors of proyect*/
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    /*ajuste del DOM HTML */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /*uso de rem y tipo de fuente del DOM*/
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    /* contendor de la pagina */
    width: 100vw;
    height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: right 44vw bottom 41vh, left 44vw top 41vh;
    background-color: var(--Dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_cardbody {
    /* contendedor de la tarjeta */
    width: 328px;
    height: 376px;
    overflow: hidden;
    background-color: white;
    border-radius: 6%;
    box-shadow: 6px 6px 2px rgba(89, 73, 30, 0.16);
    position: relative;
}

.cardbody_text {
    /* modificaciones al contenido central de la tarjeta */
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(89, 73, 30, 0.16);
}

.cardbody_text img {
    /* modificaciones a la imagen */
    border: 4.8px solid white;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 32.8%;
    top: 23%;
}

.cardbody_text h1 {
    /* modificaciones al texto parte 1  del bodycard*/
    margin-top: 70px;
    font-weight: 700;
    color: var(--Very-dark-blue);
    margin-bottom: 20px;
}

.cardbody_text span {
    /* modificaciones al texto parte 2 del bodycard*/
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    margin-left: 8px;
}

.cardbody_text h2 {
    /* modificaciones al texto parte 3 del bodycard*/
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--Dark-gray);
    margin-bottom: 30px;
}

.cardbody_footer {
    /* moficiaciones al footer */
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    margin-top: 13px;
    height: auto;
}

.cardbody_footer--text h3 {
    /* modificaciones al texto del footer parte 1 */
    margin-bottom: 8px;
}

.cardbody_footer--text h4 {
    /* modificaciones al texto del footer parte 2 */
    font-weight: 400;
    color: var(--Dark-gray);
    font-size: 1.1rem;
    letter-spacing: 1.5px;
}

.autor_frontendmentor {
    margin-top: 12px;
}